.footer {
    background-color: var(--color-foreground);
    color: var(--color-background);
    margin-top: 2rem;
    border-top: 0.5rem solid var(--color-tertiary);
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-main);
    color: var(--brand-color-light);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
    text-align: center;
}

.footer__privacy-policy {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
    text-align: center;
}
    .footer__privacy-policy .--link {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: var(--font-weight-bold);
        font-family: var(--font-family-main);
        color: var(--footer-copyright-color);
    }
