<div class="blazor-markdown">
    @((MarkupString)MarkdownHtml)
</div>

@code {
    [Parameter]
    public string Markdown { get; set; } = string.Empty;

    public string MarkdownHtml { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        MarkdownHtml = Markdig.Markdown.ToHtml(Markdown ?? string.Empty);
    }

    protected override void OnParametersSet()
    {
        MarkdownHtml = Markdig.Markdown.ToHtml(Markdown ?? string.Empty);
    }
}
