@page "/uses"
@inherits UsesBase

<HeroBanner Data="PageContent.HeroBanner" />

<ContentWrapper>
    @if (PageContent is not null)
    {
        @if (PageContent.Title.IsNotNullOrWhitespace())
        {
            <h1>@PageContent.Title</h1>
        }

        @if (PageContent.Description.IsNotNullOrWhitespace())
        {
            <p>
                @PageContent.Description
            </p>
        }
        @if (PageContent.Sys?.UpdatedAt?.ToString().IsNotNullOrWhitespace() ?? false)
        {
            <div class="uses__last-updated --bold">
            <p class="last-updated__text">
                @Localizer["Last Updated:"]
            </p>
            <PublishedDate Date="@PageContent.Sys.UpdatedAt.ToString()" />
            </div>
        }

        @if (PageContent.Body is not null)
        {
            <PageContentWrapper>
                <RichTextPageContent Body="PageContent.Body" />
            </PageContentWrapper>
        }
    }
</ContentWrapper>


