@page "/"
@namespace CodyAnhorn.Tech.Pages
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using EventHorizon.Blazor.DocumentMetadata.Components
@using Microsoft.Net.Http.Headers
@using System.Text.RegularExpressions
@{
    Layout = null;
    var userAgent = Request.Headers[HeaderNames.UserAgent];
    var isNotBotAgent = !Regex.IsMatch(
        userAgent,
        @"bot|crawler|baiduspider|80legs|ia_archiver|voyager|curl|wget|yahoo! slurp|mediapartners-google",
        RegexOptions.IgnoreCase
    );
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    @(await Html.RenderComponentAsync<EhzMetadataRenderComponent>(RenderMode.ServerPrerendered))

    <link rel="icon"
          href="/favicon.ico" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="/favicon-16x16.png" />
    <link rel="manifest"
          href="/site.webmanifest" />
    <link rel="mask-icon"
          href="/safari-pinned-tab.svg"
          color="#0f111a" />
    <meta name="msapplication-TileColor"
          content="#b91d47" />
    <meta name="theme-color"
          content="#800080" />

    <link href="css/site.css" rel="stylesheet" />
    <link href="CodyAnhorn.Tech.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
          integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/toolbar/prism-toolbar.min.css"
          integrity="sha512-ycl7dIZ0VJ5535/dzskAMTwOI6OoTNZ3PeD+tfckvYqMmAzaEwQfJHqJTSqcV2iQeJnp5XxnFy5jKotibstp7A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-okaidia.min.css"
          integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <partial name="Analytics/HeadAnalytics" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @if (isNotBotAgent)
    {
        <script src="_framework/blazor.server.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js"
            integrity="sha512-xR+IAyN+t9EBIOOJw5m83FTVMDsPd63IhJ3ElP4gmfUFnQlX9+eWGLp3P4t3gIjpo2Z1JzqtW/5cjgn+oru3yQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js"
            integrity="sha512-zc7WDnCM3aom2EziyDIRAtQg1mVXLdILE09Bo+aE1xk0AM2c2cVLfSW9NrxE5tKTX44WBY0Z2HClZ05ur9vB6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/toolbar/prism-toolbar.min.js"
            integrity="sha512-YrvgEHAi5/3o2OT+/vh1z19oJXk/Kk0qdVKbjEFl9VRmcLTaWRYzVziZCvoGpJ2TrnV7rB8pnJcz1ioVJjgw2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"
            integrity="sha512-pUNGXbOrc+Y3dm5z2ZN7JYQ/2Tq0jppMDOUsN4sQHVJ9AUQpaeERCUfYYBAnaRB9r8d4gtPKMWICNhm3tRr4Fg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        <script>
            window.Prism = window.Prism || {};
            window.Prism.manual = true;

            function Prisim_highlightAll() {
                Prism.highlightAll();
            }

            // Scroll into view takes an element id and moves the page to it.
            function scrollIntoView(elementId) {
                var elem = document.getElementById(elementId);
                if (elem) {
                    elem.scrollIntoView();
                    window.location.hash = elementId;
                }
            }

            // Used for on page anchor scrolling
            function delayedScrollIntoView(elementId) {
                setTimeout(function () { scrollIntoView(elementId); }, 0);
                return false;
            }
            window.addEventListener("load", function () {
                delayedScrollIntoView(window.location.hash.substring(1));
            });
        </script>
    }
    <partial name="Analytics/BodyAnalytics" />

</body>
</html>
