@inherits MainLayoutBase

<CascadingValue Name="Pathname" Value="@Pathname">
    @if (IsPreview)
    {
        <PreviewBanner />
    }
    <Header />
    <main id="main-content"
          class="main-content @AnimateCSS">
        @Body
    </main>
    <Footer />
</CascadingValue>
