@inherits MainLayoutBase

<CascadingValue Name="Pathname" Value="@Pathname">
    <div class="skip-main-wrapper">
        <AnchorLink class="skip-main"
                    href="#main-content">
            @Localizer["Skip to Main Content"]
        </AnchorLink>
    </div>
    @if (IsPreview)
    {
        <PreviewBanner />
    }
    <Header />
    <main id="main-content"
          class="main-content @AnimateCSS">
        @Body
    </main>
    <Footer />
</CascadingValue>
